.DS_Store
.vscode/
*.aux
*.log
*.bbl
*.blg
*.out
*.bcf
*.run.xml
*.synctex.gz
*~
*.xcuserstate
runs/*
/build/*
runs/*
processinfo
output_data/*
data/*
*.ff
post_proc/__pycache__/utils.cpython-39.pyc
post_proc/__pycache__/utils.cpython-39.pyc
env/*